body {padding: 80px 10px 0px 10px;font-family: 'Open Sans', sans-serif;}

.navbar {border-radius: 10px; padding: 0px 10px 10px 0px;}

.member {position: absolute; bottom: 0; right: 10;}

.form_left{padding-left: 150px;}

.program_title{margin-left: 20px}

.jumbotron {border-radius: 10px;}

.form-group .navbar-text{}

.container{margin-left: 180px;}

.student_greeting{margin-left: 50px; font: 'Open Sans', sans-serif;}

.student_pg_buttons{margin-left: 50px;}

.view_my_classes_header, .my_classes_tbl_div, .bottom_buttons{margin-left: 50px;}

.view_my_grades_header, .my_grades_tbl_div, .bottom_buttons{margin-left: 50px;}

/*.form-inline{padding-left: 100px}*/
